:root {
  /* Couleurs */
  --color-primary: #29e309; /* Vert vif */
  --color-secondary: #85e309; /* Vert clair */
  --color-accent: #e0e309; /* Jaune vif */
  --color-accent-alt: #f0d930; /* Jaune doux */
  --color-background: #0d0d0d; /* Fond noir */
  --color-text: #ffffff; /* Texte blanc */
  --color-text-light: #b3b3b3; /* Texte gris clair */

  /* Typographie */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 3.5rem;
  --font-size-subheading: 2rem;

  /* Autres */
  --border-radius: 12px;
  --transition-duration: 0.3s;
}

/* Intégrer Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Poppins:wght@400&display=swap");

/* Stylisation du body */

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-background);
}

.navbar .brand a {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  color: var(--color-text);
  text-decoration: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: var(--color-background);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration),
    transform var(--transition-duration);
}
.nav-links a:hover {
  color: var(--color-text);
  transform: translateY(-3px);
}
/* Pour les classes spécifique "btn" du menu de navigation */

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background-color: var(--color-primary);
}

/* la classe active */
.nav-links a.active {
  background-color: var(--color-primary);
  color: var(--color-background);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--color-text);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--color-background);
    width: 200px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 10;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    border-radius: var(--border-radius);
    text-align: center;
  }
}

/* Footer */
.footer {
  background-color: var(--color-background);
  color: var(--color-text-light);
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
}

.footer p {
  margin: 0;
}

/* Stylier le hero section de la page d'accueil */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px;
  background: linear-gradient(135deg, var(--color-background), #1c1c1c);
  color: var(--color-text);
}

.hero-content {
  max-width: 600px;
}
.hero-content h1 {
  font-family: var(--font-primary);
  font-size: 3.5rem; /* Taille du titre */
  color: var(--color-primary);
  margin-bottom: 20px;
}
.hero-content h3 {
  font-family: var(--font-secondary);
  font-size: 1.8rem; /* Sous-titre */
  margin-bottom: 20px;
  color: var(--color-text-light);
}
.hero-content p {
  color: var(--color-text-light);
  margin-bottom: 20px;
  font-size: 1.1rem; /* Texte de description */
}
hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-download {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-weight: bold;
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-download:hover {
  background-color: var(--color-accent);
  transform: translateY(-5px);
}

.social-links {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-links a {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: var(--color-accent);
}
